a, a:link, a:hover, a:active, a:visited {
    color: #a075b3;
}

::selection, ::-webkit-selection {
    background: #a075b3;
}

#sidebar {
    border-right: 2px solid #a075b3;
}

img.moe {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    opacity: .2;
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    #main {
        border-top: 2px solid #a075b3;
    }
    img.moe {
        transform: scale(0.6);
        transform-origin: 100% 100%;
    }
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "PingFang SC", "Microsoft YaHei UI";
    font-size: 14px;
    color: #333;
}

a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

button, input, textarea {
    font-family: inherit;
}

::selection, ::-webkit-selection {
    color: #ffffff;
}

#sidebar {
    float: left;
    position: fixed;
    width: 280px;
    height: 100%;
    background: #f7f7f7;
    text-align: center;
    line-height: 1em;
    -user-select: none;
    -webkit-user-select: none;
}

#sidebar div {
    padding: 5px 0 15px 0;
}

#sidebar li {
    padding: 15px 20px;
    display: block;
    color: #666;
    transition: .25s;
    -webkit-transition: .25s;
}

#sidebar li:hover {
    background: #f0f0f0;
}

#sidebar .footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    line-height: 40px;
    font-size: 12px;
    background: #f7f7f7;
    color: #888;
    box-shadow: 0 0 5px #ddd;
    padding: 5px 0;
}

#sidebar #player {
    position: fixed;
    width: 280px;
    left: 0;
    bottom: 50px;
    margin: 0;
    overflow: hidden;
    background: #f7f7f7;
    box-shadow: 0 -2px 1px #eaeaea;
}

#sidebar #player .aplayer-list {
    max-height: 99px;
}

#sidebar .icon {
    position: fixed;
    right: 0;
    top: 0;
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 30px;
    color: #888;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: none;
}

#main {
    margin-left: 280px;
    padding: 65px 65px;
}

#main.loading {
    color: #bbb;
    white-space: pre;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 60px;
    display: inline;
    background: #f0f0f0;
}

.name {
    margin-top: 20px;
    font-size: 18px;
}

.profile {
    color: #888;
    font-size: 14px;
}

figure.sidebar,
header {
    display: none;
}

.mobile-only {
    display: none;
}

#disqus_thread {
    padding-top: 40px;
}

.not-found .message {
    display: none;
}

.not-found::before {
    content: "404";
    display: block;
    color: #333;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    font-weight: lighter;
}

.not-found::after {
    content: "不存在的";
    display: block;
    color: #333;
    font-size: 22px;
    text-align: center;
    padding-bottom: 80px;
}

@media screen and (min-width: 1400px) {

    #app {
        margin-right: 360px;
    }

    #disqus_thread {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 320px;
        padding: 60px 80px 50px 0;
        margin-right: -20px;
        overflow: scroll;
    }
}

@media screen and (min-width: 1800px) {

    #app {
        margin-right: 540px;
    }

    #disqus_thread {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 500px;
        padding: 60px 80px 50px 0;
        margin-right: -20px;
        overflow: scroll;
    }
}

@media screen and (max-width: 800px) {

    .mobile-only {
        display: initial;
    }

    body {
        background: #f7f7f7;
    }

    #sidebar {
        float: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        overflow: hidden;
        padding: 0 25px;
        z-index: -9999;
        display: inline;
        text-align: left;
        border-right: 0;
    }

    #sidebar .avatar {
        width: 50px;
        height: 50px;
        margin: 0 10px 0 0;
        display: inline;
        vertical-align: middle;
    }

    #sidebar .name, #sidebar .profile {
        display: inline;
        line-height: 72px;
        padding: 0 3px;
        vertical-align: middle;
    }

    #sidebar li {
        padding: 15px 15px 15px 0;
        display: inline-block;
        border-radius: 5px;
        opacity: 0;
    }

    #sidebar li:hover {
        background: none;
    }

    .menu-on #sidebar li {
        opacity: 1;
    }

    #sidebar .footer {
        width: 100%;
        left: 0;
        text-align: center;
        padding: 0;
        height: 64px;
        line-height: 64px;
        vertical-align: middle;
        bottom: 0;
    }

    #sidebar #player {
        display: none;
    }

    #sidebar .icon {
        display: inherit;
    }

    #main {
        margin: 72px 0 64px 0;
        padding: 25px;
        background: #fff;
        border-left: 0px;
        border-bottom: 1px solid #dddddd;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
    }

    .menu-on #main {
        margin-top: 120px;
    }
}