html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "PingFang SC", "Microsoft YaHei UI";
    font-size: 14px;
    color: #333;
}

a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

button, input, textarea {
    font-family: inherit;
}

#sidebar {
    float: left;
    position: fixed;
    width: 280px;
    height: 100%;
    background: #f7f7f7;
    text-align: center;
    line-height: 1em;
	-user-select: none;
	-webkit-user-select: none;
	z-index: 999;
    -webkit-transition: .25s;
}

#sidebar div {
    padding: 5px 0 15px 0;
}

#sidebar li {
    padding: 15px 20px;
    display: block;
    color: #666;
    transition: .25s;
    -webkit-transition: .25s;
}

#sidebar li:hover {
    background: #f0f0f0;
}

#sidebar .footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    line-height: 40px;
    font-size: 12px;
    background: #f7f7f7;
    color: #888;
    box-shadow: 0 0 5px #ddd;
    padding: 5px 0;
}

#sidebar #player {
    position: fixed;
    width: 280px;
    left: 0;
    bottom: 50px;
    margin: 0;
    overflow: hidden;
    background: #f7f7f7;
    box-shadow: 0 -2px 1px #eaeaea;
}

#sidebar #player .aplayer-list {
    max-height: 99px;
}

#sidebar .icon {
    position: fixed;
    right: 0;
    top: 0;
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 30px;
    color: #888;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: none;
}

page {
    box-sizing: border-box;
    padding: 0 65px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

::selection, ::-webkit-selection {
    color: #ffffff;
}

#content {
    font-size: 200%;
    margin-left: 280px;
    -webkit-transition: .25s;
}

#content.loading {
    padding: 65px 65px;
    color: #bbb;
    white-space: pre;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 60px;
    display: inline;
    background: #f0f0f0;
}

.name {
    margin-top: 20px;
    font-size: 18px;
}

.profile {
    color: #888;
    font-size: 14px;
}

#sidebar {
    display: none;
}

#content {
    margin-left: 0;
    padding: 0;
}

@media screen and (max-width: 1600px) {

    page {
        padding: 0 45px;
    }

    #content {
        font-size: 200%;
        margin-left: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1400px) {

    page {
        padding: 0 40px;
    }

    #content {
        font-size: 180%;
        margin-left: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {

    page {
        padding: 0 35px;
    }

    #content {
        font-size: 180%;
        margin-left: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {

    page {
        padding: 0 30px;
    }

    #content {
        font-size: 160%;
        margin-left: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1000px) {

    page {
        padding: 0 25px;
    }

    #content {
        font-size: 140%;
    }
}

@media screen and (max-width: 800px) {

    page {
        padding: 0 20px;
    }

    #content {
        font-size: 120%;
    }
}

@media screen and (max-width: 600px) {

    page {
        padding: 0 15px;
    }

    #content {
        font-size: 100%;
    }
}