<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="icon" type="image/png" sizes="80x80" href="{{ config['favicon'] }}">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-app-status-bar-style" content="white"/>
    <link rel="apple-touch-icon" href="/static/apple-icon.png"/>

    <!-- Fetched scripts -->
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/vendors/scrolloverflow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.extensions.min.js"></script>

    <!-- Local scripts -->
    <script src="/static/js/marked.js"></script>
    <script src="/static/js/highlight.js"></script>
    <script src="/static/js/shower.js"></script>

    <!-- Fetched stylesheets -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css" rel="stylesheet">

    <!-- Local stylesheets -->
    <link href="/static/css/markdown.css?v={{ v }}" rel="stylesheet">
    <link href="/static/css/highlight.css?v={{ v }}" rel="stylesheet">
    <link href="/static/css/shower.css?v={{ v }}" rel="stylesheet">

    <title>演示模式丨{{ filename }}丨{{ config['title'] }}</title>
    <style>
        a, a:link, a:hover, a:active, a:visited {
            color: {{ config['themeColor'] }};
        }
        ::selection, ::-webkit-selection {
            background: {{ config['themeColor'] }};
        }
        #sidebar {
            border-right: 2px solid {{ config['themeColor'] }};
        }
    </style>

    <script>
        $("body").ready(function() {
            {% if url != '' %}
                $("#content").html("正在加载文章…");
                $.get("{{ url }}", function(c) {pageDidLoad(c);}).fail(function() {
                    {% if filename != '404' %}
                        window.location.href = "/404.md";
                    {% else %}
                        $("#content").html(marked("# 墙太高了…\n似乎无法从 GitHub 获取文章，再试一次？"));
                    {% endif %}
                });
            {% else %}
                var content = "{{ content.replace('\n', '\\n').replace('\"', '\\"') }}";
                pageDidLoad(content);
            {% endif %}
        });
    </script>
</head>
<body>
    <div id="sidebar">
        <a href="/"><img class="avatar" ondragstart="return false" src="{{ config['avatar'] }}"></a>
        <div class="name">{{ config['nickname'] }}</div>
        <div class="profile">{{ config['intro'] }}</div>
        <div class="icon ion-more" onclick="toggleMenu()"></div>
        <br>

        {% for item in config['sidebar'] %}
            <a class="link" href="{{ '/' + quote(str(item)) }}"><li>{{ item.split('/')[-1] }}</li></a>
        {% endfor %}

        <iframe id="player" src="https://myseu.cn/apcloud/{{ config['playlist'] }}?autoplay=false"
                width="280" height="189" frameborder="0"></iframe>

        <script>
            // 实现自动调整播放器高度，根据侧栏可用空间自动选择隐藏播放器或显示 0、1、2、… 个曲目
            $(window).resize(function() {
                var t = $("#sidebar li").last().offset().top + 44;
                var b = $("#sidebar .footer").first().offset().top;
                var maxHeight = b - t - 60 - 90;
                var rows = Math.floor(maxHeight / 33);
                if (rows > -3 && rows < 0) {
                    rows = 0;
                }
                var height = rows * 33 + 90;
                $("#player").css("height", height);
            });
        </script>

        <div class="footer">{{ config['footer'] }}</div>
    </div>
    <div id="content" class="markdown-body loading"></div>
</body>
</html>
